<h1>{{title}}</h1>
<p>This is a basic test of Express</p>
<p>{{testFunction}}</p>
<a href="contacto">Link to Contacto</a>
<a href="api/travels">Link to Api Travels</a>
<a href="api/discounts">Link to Api Discounts</a>